

body{
    margin:0;
    padding: 0;
    /*
    background-image: linear-gradient(
        
        #26073b, #280d3a 43%, #000000
    );
    width: 100vw;
    height: 100vw;
    animation: spin 2.5s linear infinite;
    */
}
header{
    text-align: center;
    
    border-bottom: double rgb(7, 36, 100);
    width: 50%;
    margin-left: 18%;
}
header p{
    font-size: 20px;
    font-weight: 900;
}
main{
    border: none;
    box-shadow:  2px 2px 8px 5px rgba(107,  99, 107, 0.65);
    display: block;
    width: 25%;
    margin-left: 30%;
    margin-top: 3%;
    padding: 2%;
    border-radius: 8px;
    background-color:white;
    position: static;
}
.title{
    font-size: 1.3rem;
    font-weight: 900;
    text-shadow: 1px 0 1px #002542;
    text-align: center;
}
main input{
    width: 97%;
    padding: 3%;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.336);
    outline: blue;
    font-size: 16px;
}

.enviar{
    width: 57%;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color:rgb(31, 1, 161);
    padding: 2.5%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 4%;
    cursor: pointer;
    color: white;
}
.mostrar{
    display: none;
}
#alerta1{
    font-size: 19px;
    text-align: center;
}
main .declarar{
    padding: 3%;
    width: 40%;
    margin-top: 4%;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4%;
    background-color:rgb(26, 5, 51);
    color: white;
    border: none;
}
main .declarar:hover{
    background:rgb(39, 39, 38) ;
}

@media (max-width: 868px){
   main{
    width: 60%;
    margin-left: 10%;
   }
   main input{
    width: 90%;
   }
}
@media (max-width: 600px){
    main{
     width: 80%;

    }
    header{
        width: 98%;
        margin-left: 0;
    }
    .title{
        font-size: 0.9rem;
    }
 }
 @media (max-width: 468px){
    main{
     width: 100%;
     margin-left: 0;
     border-radius: 30px;
     box-shadow: -7px -19px 7px -14px rgba(0,0,0,0.34);
    -webkit-box-shadow: -7px -19px 7px -14px rgba(0,0,0,0.34);
    -moz-box-shadow: -7px -19px 7px -14px rgba(0,0,0,0.34);
     margin-top: 15%;

    }
    header{
        width: 100%;
        margin-left: 0;
    }
    .title{
        font-size: 0.9rem;
    }
 }